---
layout: page
title: Read Here!
permalink: /2022/
order: 0
---
<p>We are proud to announce the first look at the amazing works of the Sugawara Anthology! Our contributors have created over 40 works, ranging from illustrations to fanfictions to nendo shoots and so much more. We invite you are all look through the content on our website during this holiday season. (Sugawara is a present for everyone!)</p>

<p>A digital version of the zine including digital merch (and possibly a few more surprises!) will be available to download January 22nd, 2022. Please keep a look out for announcements on our Twitter.</p>

<div class="works">
  {% for post in site.posts reversed %}
  <div class="work-container">
    <div class="dummy"></div>
    <span class="work-type">{{ post.type }}</span>
    <a class="work {{ post.show }}" {% if post.image %}id="{{ post.image }}"{% endif %} href="{{ post.url | prepend: site.baseurl }}">
      <div class="work-title">{{ post.title }}</div>
      <small class="credit">{{ post.creator}}</small>
    </a>
  </div> 
  {% endfor %}
</div>