<footer class="footer">
  <div class="side-bar">
    <div><span class="j-suga">とくじつ</span></div>
    <div class="socials">
      <span class="icon">
        <a class="social-icon image" id="twt" href="mailto:sugawaradigizine@gmail.com"><img src="/assets/images/email.png"/></a>
      </span>
      <span class="icon">
        <a class="social-icon image" id="twt" href="https://twitter.com/sugawarazine" target="_blank"><img src="/assets/images/twitter.png"/></a>
      </span>
    </div>
  </div>
</footer>