$content-width: 800px;
$main: #19ccaa;
$font-style: 'Open Sans', Helvetica, sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Arima Madurai', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
main {
  font-family: $font-style;
}
html {
  background: #fff;
  background-image: url("/assets/images/shadow_1_left.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 28% auto;
}

@media screen and (max-width: 948px) {
  html {
    background-size: 45% auto;
    padding: 0 5px;
  }
}

strong {
  font-variation-settings: 'wght' 625;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
.page#sakura-span {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
}

.j-suga {
    writing-mode: vertical-lr;
    font-size: 5vh;
    letter-spacing: .2em;
    font-family: 'Noto Serif JP', serif;
    color: #40291e;
  }

h1 {
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h5 {
  font-family: $heading-font;
  color: #40291e;
  letter-spacing: .04em;
}

h2, h3, h4, h5 {
  margin-bottom: -13px;
}

.box h3 {
  margin: 0;
}

strong {
  color: #40291e;
}

.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}
.image img.is-rounded {
  border-radius: 9999px;
}
.image.is-fullwidth {
  width: 100%;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-top: 1rem;
}

.button.is-primary {
  background-color: #97a4b5;
  border-color: transparent;
  color: #fff;
  transition: .5s all ease;
}

.button.is-primary:hover {
  background-color: gray;
  border-color: transparent;
  color: #fff;
}

.button.has-icon {
  display: flex;
  align-items: center;
}

.button .icon {
  height: 1.2em;
  width: 1.2em;
  margin-right: 0.5em;
  filter: invert(1);
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -.3em;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.icon#twitter {
  background-image: url(/assets/images/twitter.png);
}

.icon#tumblr {
  background-image: url(/assets/images/tumblr.png);
}

.icon#ao3 {
  background-image: url(/assets/images/ao3.png);
}

.icon#insta {
  background-image: url(/assets/images/insta.png);
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.tab-content p {
  margin-top: 0;
}

.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  font-family: "Alegreya", serif;
}

.tabs ul {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  padding-left: .5rem;
}

.tabs li {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 300;
  cursor: pointer;
}

.tabs a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  text-decoration: none;
  font-family: "Alegreya", serif !important;
}

.tabs li.is-active a {
  border-bottom-color: #222;
  color: #40291e;
  font-weight: 900;
  font-variation-settings: 'wght' 725;
}

.input, .textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.375em;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.input, .textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 0.375em;
  color: #363636;
  // box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;
}

.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
}

.control {
  padding: .75rem 0;
}

.control .button {
  margin: 0;
}

a {
  color: #40291e;

  &:visited {
    color: #444;
  }
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}
.tile.is-ancestor {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.tile.is-ancestor:last-child {
  margin-bottom: -0.75rem;
}
.tile.is-ancestor:not(:last-child) {
  margin-bottom: 0.75rem;
}
.tile.is-child {
  margin: 0 !important;
}
.tile.is-parent {
  padding: 0.75rem;
}
.tile.is-vertical {
  flex-direction: column;
}
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 1.5rem !important;
}
@media screen and (min-width: 769px), print {
  .tile:not(.is-child) {
    display: flex;
  }
  .tile.is-1 {
    flex: none;
    width: 8.33333%;
  }
  .tile.is-2 {
    flex: none;
    width: 16.66667%;
  }
  .tile.is-3 {
    flex: none;
    width: 25%;
  }
  .tile.is-4 {
    flex: none;
    width: 33.33333%;
  }
  .tile.is-5 {
    flex: none;
    width: 41.66667%;
  }
  .tile.is-6 {
    flex: none;
    width: 50%;
  }
  .tile.is-7 {
    flex: none;
    width: 58.33333%;
  }
  .tile.is-8 {
    flex: none;
    width: 66.66667%;
  }
  .tile.is-9 {
    flex: none;
    width: 75%;
  }
  .tile.is-10 {
    flex: none;
    width: 83.33333%;
  }
  .tile.is-11 {
    flex: none;
    width: 91.66667%;
  }
  .tile.is-12 {
    flex: none;
    width: 100%;
  }
}
.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #191919;
  display: block;
  padding: 1.25rem;
}
a.box:focus,
a.box:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #D05353;
}
a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #D05353;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.buttons .button {
  margin-bottom: 0.5rem;
}
.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}
.buttons:last-child {
  margin-bottom: -0.5rem;
}
.buttons:not(:last-child) {
  margin-bottom: 1rem;
}