$content-width: 800px;
$main: #19ccaa;
$font-style: 'Alegreya', serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Arima Madurai', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: $font-style;
  box-sizing: border-box;
}
html {
  background: #fff;
  background-image: url("/assets/images/shadow_blue_left.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 28% auto;
}

@media screen and (max-width: 948px) {
  html {
    background-size: 45% auto;
    padding: 5px;
  }
}

strong {
  font-variation-settings: 'wght' 625;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}

.j-suga {
    writing-mode: vertical-lr;
    font-size: 5vh;
    letter-spacing: .2em;
    font-family: 'Noto Serif JP', serif;
    color: #40291e;
  }

h1 {
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h5 {
  font-family: $heading-font;
  color: #363636;
}

.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-top: 1rem;
}

.button.is-primary {
  background-color: #97a4b5;
  border-color: transparent;
  color: #fff;
  transition: .5s all ease;
}

.button.is-primary:hover {
  background-color: gray;
  border-color: transparent;
  color: #fff;
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.tab-content p {
  margin-top: 0;
}

.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.tabs ul {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  padding-left: .5rem;
}

.tabs li {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 300;
  cursor: pointer;
}

.tabs a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  text-decoration: none;
  font-family: $font-style !important;
}

.tabs li.is-active a {
  border-bottom-color: #222;
  color: #97a4b5;
  font-weight: 900;
  font-variation-settings: 'wght' 725;
}

.input, .textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.375em;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.input, .textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 0.375em;
  color: #363636;
  // box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;
}

.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
}

.control {
  padding: .75rem 0;
}

.control .button {
  margin: 0;
}