@font-face {
  font-family: "Della Respira";
  src: url(/assets/fonts/DellaRespira-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Alegreya";
  src: url(/assets/fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url(/assets/fonts/Alegreya/Alegreya-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Hi Melody";
  src: url(/assets/fonts/HiMelody-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arima Madurai";
  src: url(/assets/fonts/Arima_Madurai/ArimaMadurai-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("/assets/fonts/Arima_Madurai/ArimaMadurai-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Noto Serif JP";
  src: url("/assets/fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Serif JP";
  src: url("/assets/fonts/Noto_Serif_JP/NotoSerifJP-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Serif JP";
  src: url("/assets/fonts/Noto_Serif_JP/NotoSerifJP-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif JP";
  src: url("/assets/fonts/Noto_Serif_JP/NotoSerifJP-Light.otf") format("opentype");
  font-weight: 300;
}