.container {
  padding: 1rem;
}

.header {
  width: 100vw;
  padding-left: 27%;
  min-height: 4rem;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: xxx-large;
    color: #40291e;
  }
}

.full-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-content {
  text-align: center;
}

.header-content h1 {
  font-family: 'Arima Madurai', sans-serif;
  font-weight: 100 !important;
  font-size: 5rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.header-content p {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
.navbar {
  background: transparent;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
.navbar-burger {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}
.navbar-brand, .navbar-tabs {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  font-weight: 600;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color,opacity,transform;
  transition-timing-function: ease-out;
  width: 16px;

  &:nth-child(1) {
    top: calc(50% - 6px);
  }
  &:nth-child(2) {
    top: calc(50% - 1px);
  }
  &:nth-child(3) {
    top: calc(50% + 4px);
  }
}
.navbar-menu {
  display: none;
  text-align: right;
  &.is-active {
    display: block;
  }
}
.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar-item, .navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    filter: brightness(2);
  }
}
.navbar-link.current, .navbar-item.current {
  color: #afbbcb;

  &:hover {
    filter: brightness(.85);
  }
}

.page-main {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "side content";
}

.main-content {
  grid-area: content;
  margin: 0 2em;
}

.footer {
  grid-area: side;
  bottom: 0;
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .side-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      padding: 1em 1em;
    }

    .j-suga {
      padding-bottom: 1em;
    }

    .socials {
      width: 2.5rem;
      padding: 0;
      padding-left: .5rem;
      padding-bottom: 1rem;

      .icon a {
        padding: .25em 0;
      }
    }
  }

}
@media screen and (min-width: 769px) {
  .page-main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "side content";
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: .5rem;
  }
  .page-title-container {
    padding-left: 0;
  }
  .navbar {
    min-height: 3.25rem;
    max-width: 1224px;
    margin: auto;
    font-size: .9em;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
  }
  .navbar-item, .navbar-link {
    align-items: center;
    display: flex;
    font-weight: 600;
    font-variation-settings: 'wght' 625;
  }

  .footer .side-bar {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    .socials {
      width: 3rem;
      padding-bottom: 0;
    }

    .j-suga {
      padding-bottom: 0;
    }
  }
}
.navbar-link, a.navbar-item {
  cursor: pointer;
}

// .footer {
//   background: transparent;
//   bottom: 0;
//   padding: .5rem 1rem;
//   display: flex;
// }

.socials .icon {
  width: 2.5rem;
  height: 2.5rem;
  &:hover {
    filter: grayscale(1);
  }
}

.social-icon {
  width: 100%;
  height: 100%;
  filter: invert(85%) sepia(14%) saturate(305%) hue-rotate(175deg) brightness(88%) contrast(83%);
}

.main-content {
  padding-bottom: 60px;
}