<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if page.home != true or page.title == 'Test' %}
    {% include nav.html %}
    {% endif %}
    {% include header.html %}
    <main class="page-main">
      <article class="main-content container">{{ content }}</article>
      <div class="sugawara image">
        <img src="/assets/images/suga_juice.PNG" />
      </div>
      {% include footer.html %}
    </main>
  </body>
  <script src="/assets/js/bulma.js"></script>
  {% if page.script %}
  <script src="{{ page.script }}"></script>
  {% endif %}
</html>