<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if page.home != true or page.title == 'Test' %}
    {% include nav.html %}
    {% endif %}
    <div id="sakura-span" class="page"></div>
    {% include header.html %}
    <main class="page-main">
      <article class="main-content container">{{ content }}</article>
      <div class="sugawara image">
        <img src="/sincerity/assets/images/suga_juice.PNG" />
      </div>
      {% include footer.html %}
    </main>
  </body>
  <script src="/sincerity/assets/js/bulma.js"></script>
  {% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  {% endif %}
  <script src="/sincerity/assets/js/sakura.js"></script>
  <script>
    var sakura = new Sakura('#sakura-span');
  </script>
</html>
