<!DOCTYPE html>
<html>
  {% include head.html %}
  <link rel="stylesheet" href="{{ "/css/works.css" | prepend: site.baseurl }}">
  <body>
    {% if page.home != true or page.title == 'Test' %}
    {% include nav.html %}
    {% endif %}
    <header class="header page-header">
      <span></span>
      <div class="page-title-container work-title">
        <h1>{{ page.title }}</h1>
        <h2>By: {{ page.creator }}</h2>
        <div class="tags">
          {% for relationship in page.relationships %}
          <span class="tag relationship">{{ relationship }}</span>
          {% endfor %}
          {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </header>
    <main class="page-main work-content">
      <article class="main-content container">{{ content }}
      {% if page.beta %}<strong>Beta'd by {{ page.beta }}</strong>{% endif %}
      </article>
      {% include footer.html %}
    </main>
  </body>
  <script src="/assets/js/bulma.js"></script>
  {% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  {% endif %}
  <script>
  document.querySelectorAll('.visual').forEach(item => {
      item.addEventListener("contextmenu", function (e){
        e.preventDefault();
    }, false);
});
  </script>
</html>