<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if page.home != true or page.title == 'Test' %}
    {% include nav.html %}
    {% endif %}
    <header class="header page-header">
      <span></span>
      <div class="page-title-container">
        <h1>{{ page.title }}<br/><span>By: {{ page.creator }}</span></h1>
        <div>{{ page.relationship }}</div>
      </div>
    </header>
    <main class="page-main work-content">
      <article class="main-content container">{{ content }}</article>
      {% include footer.html %}
    </main>
  </body>
  <script src="/assets/js/bulma.js"></script>
  {% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  {% endif %}
</html>